* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    font-size: 16px;
}

.cart-container {
    width: 80%;
    margin: 80px auto;
}

.cart-header, .cart-part {
    display: grid;
    grid-template-columns: 20% 20% 20% 15% 15% 10%;
    align-items: center;
    font-weight: bold;
    background-color: #bde0fe;
}

.cart-header {
    padding: 10px 0;
}

.cart-header div, .cart-part div {
    text-align: center;
}

.cart-img img {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.cart-quantity {
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity-btn {
    background-color: #00b4d8;
    border: none;
    color: white;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    width: 35px;
    height: 35px;
}

.quantity-btn:hover{
    background-color: rgb(0, 119, 182);
}


.quantity-number {
    margin: 0 15px;
    font-size: 16px;
}

.cart-price h4, .cart-total h4 {
    margin: 0;
}

.cart-remove button {
    cursor: pointer;
    background-color: #e4003a;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
}

.cart-remove button {
    background: none;
    border: none;
    cursor: pointer;
    color: #e4003a;
    font-size: 24px;
}

.cart-remove button:hover {
    color: #d90429;
}

.cart-summary {
    margin-right: 200px;
    margin-bottom: 50px;
}

.product-total {
    text-align: right;
    margin: 20px 0;
}

.product-checkout {
    text-align: right;
    margin: 20px 0;
}

.product-checkout a {
    display: inline-block;
    width: 130px;
    text-decoration: none;
    border-radius: 5px;
    background-color: #00b4d8;
    padding: 10px 20px;
    text-align: center;
    color: white;
    font-size: 15px;
}


.product-checkout a:hover{
    background-color: rgb(0, 119, 182);
}

.removeAll {
    background-color: #e4003a;
    display: block;
    color: white;
    border: none;
    border-radius: 5px;
    width: 130px;
    font-size: 15px;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: auto;
}

.removeAll:hover{
    background-color: #c1121f;
}

.cart-empty {
    width: 450px;
    margin: 100px auto 0;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    color: #4b5563;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.cart-empty h2 {
    font-size: 26px;
    margin-bottom: 15px;
    color: #e4003a;
}

.cart-empty .homeBtn {
    cursor: pointer;
    border: none;
    color: white;
    background-color: #00b4d8;
    margin: 15px;
    padding: 8px 40px;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s;
}

.cart-empty .homeBtn:hover {
    background-color: #0077b6;
}

hr{
    border-color: black;
}
