@import url("sanpham.css"); /* Import the common styles */

/* CSS cho thanh trượt lọc giá */
.price-filter {
    position: relative;
    margin-top: 20px;
    padding: 10px;
}

.price-values {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.price-values span {
    font-size: 16px;
    color: #333;
}

/* Tùy chỉnh tiêu đề và đoạn văn bản */
.sidebar h2 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #000;
}

/* CSS cho phần sắp xếp sản phẩm */
.sort-by-price {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sort-container {
    display: flex;
    gap: 10px;
}

.btn-sort {
    background-color: #00b4d8;
    color: #fff;
    padding: 10px 48px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 48%;
    text-align: center;
}

.btn-sort.active {
    background-color: #0077b6;
}

.btn-sort:hover {
    background-color: #0077b6;
}

#filterPriceBtn{
    background-color: #00b4d8;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
    font-size: 18px;
}
#filterPriceBtn:hover{
    background-color: #0077b6;
}

.product-title{
    margin-bottom: 10px;
}

.breadcrumb {
    padding: 10px 20px;
    background-color: #CAE9FF; /* Đổi màu nền */
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 5px;
    margin-left: 150px;
    margin-top: 2%;

}

.breadcrumb h3 {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.breadcrumb a:hover {
    color: #0056b3;
    text-decoration: none;
}