* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



iframe:focus {
    outline: none;
}

iframe[seamless] {
    display: block;
}



/* Breadcrumb */
.breadcrumb {
    padding: 10px 20px;
    background-color: #e0e0e0;
}

.breadcrumb a {
    color: #007bff;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

/* Content Styles */
.content {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.sidebar {
    height: fit-content;
    flex: 1;
    min-width: 250px;
    padding: 20px;
    background-color: #fff;
    margin-right: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.main-content {
    flex: 3;
    min-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.main-content .sort {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.main-content .sort select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.product-list h2 {
    margin-top: 0;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-card {
    flex: 1 1 calc(33.333% - 20px);
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    position: relative;
}


.product-card .discount {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ff6347;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
}

.product-card img {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin-bottom: 10px;
}

.product-card p {
    margin: 10px 0;
}

.product-card .price {
    color: #ff6347;
    font-weight: bold;
}

.product-card del {
    color: #ccc;
}

/* Sidebar Styles */
.price-filter,
.featured-products {
    margin-bottom: 20px;

}

.price-filter h4,
.featured-products h4 {
    margin-bottom: 10px;
}

.slider {
    width: 100%;
    margin: 10px 0;
}

.price-values {
    display: flex;
    justify-content: space-between;
}

.featured-products ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.featured-products ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.featured-products ul li img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.featured-products ul li p {
    flex: 1;
    margin: 0;
}

.featured-products ul li span {
    color: #ff6347;
    font-weight: bold;
}

footer {
    background-color: #219ebc;
    color: white;
    width: 100%;
    position: relative;
    bottom: 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    margin: 10px;
    min-width: 200px;
    line-height: 1.5;
}

.footer-section h4 {
    margin-bottom: 10px;
}

.footer-section p,
.footer-section ul,
.footer-section a {
    margin: 5px 0;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    text-decoration: none;
    color: white;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.social-media a {
    color: white;
    text-decoration: none;
}

.social-media a:hover {
    text-decoration: underline;
}
/* Modal Styles */

.modal1 {
    display: none;
    position: fixed;
    z-index: 1000;
    right: 25%;
    top: 30%;
    width: 50%;
    height: auto;
   
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content1 {
    background-color: wheat;
    margin:  auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100% ; /* Độ rộng cố định */
    z-index: 1000;
    text-align: center;
    position: relative;
}
.modal-content1 img{

    width: 40%;
    height: auto;
}
.modal-content5 {
    display: flex;
}
 button {
    padding: 10px   ;
}
.add {
    margin-left: 15%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding-left: 20px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
